- if activity.trackable.nil? || !activity.trackable.valid_user?(current_user)
  Message deleted.
- else
  = raw "#{capital_username activity.trackable.sender} sent #{username activity.trackable.recipient} a"
  = link_to "message", activity.trackable
  \.
 
