<% provide(:title, 'Cars') %>

<div id="carsContainer" class="left-container">
  <object type="application/x-java-applet" id="cars">
    <param name="code" value="com/zane/cars/CarThingyApplet.class">
    <param name="archive" value="assets/carApplet.jar">
    You must have Java properly installed to view this applet.
  </object>
</div>
