<% provide(:title, 'Java') %>

<div id="javaThumbs">
	<%= link_to packman_path do %>
		<div class="container">
			<h1>Packman</h1>
			<%= image_tag "packman_thumb.png" %>
		</div>
	<% end %>
	<%= link_to cars_path do %>
		<div class="container">
			<h1>Cars</h1>
			<%= image_tag "cars_thumb.png" %>
		</div>
	<% end %>
</div>