<% provide(:title, 'Packman') %>

<div id="packmanContainer" class="left-container">
<applet
  id="packman"
	archive="applets/packApplet.jar"
	code="packMan/PackApplet.class"
	alt="You must have Java 7 to view this applet.">
</applet>
</div>
<div id="controls">
<table>
  <h2>Controls</h2>
  <tr>
    <td>Up:</td>
    <td>W</td>
  </tr>
  <tr>
    <td>Left:</td>
    <td>A</td>
  </tr>
  <tr>
    <td>Down:</td>
    <td>S</td>
  </tr>
  <tr>
    <td>Right:</td>
    <td>D</td>
  </tr>
  <tr>
    <td>Pause:</td>
    <td>SPACE</td>
  </tr>
  <tr>
    <td>Menu:</td>
    <td>M</td>
  </tr>
  <tr>
    <td>Stats:</td>
    <td>N</td>
  </tr>
</table>
</div>
<%# <div id="score" style="clear:both">test</div> %>