<% provide(:title, 'Packman') %>

<applet
	archive="applets/packApplet.jar"
	code="packMan/PackApplet.class"
	alt="You must have Java 7 to view this applet.">
</applet>
<table cellspacing="1" cellpadding="1" border ="0">
  <tr>
    <td colspan="2" align="center"><u>Controls</u></td>
  <tr>
    <td align="right">Up:</td>
    <td>W</td>
  </tr>
  <tr>
    <td align="right">Left:</td>
    <td>A</td>
  </tr>
  <tr>
    <td align="right">Down:</td>
    <td>S</td>
  </tr>
  <tr>
    <td align="right">Right:</td>
    <td>D</td>
  </tr>
  <tr>
    <td align="right">Pause:</td>
    <td>SPACE</td>
  </tr>
  <tr>
    <td align="right">Menu:</td>
    <td>M</td>
  </tr>
  <tr>
    <td align="right">Stats:</td>
    <td>N</td>
  </tr>
</table>