<div id="resume">
  <h1>Paul “Zane” Woodfin</h1>

  <h2>Education</h2>
  <table>
    <tr>
      <td>University of North Florida, Jacksonville, FL</td>
      <td class="pull-right">January 2012 – December 2012</td>
    </tr>
    <tr>
      <td colspan="2">Post Baccalaureate work in Computer Science</td>
    </tr>
  </table>
  <br>
  <table>
    <tr>
      <td>University of Florida, Gainesville, FL</td>
      <td class="pull-right">August 2001 - May 2006</td>
    </tr>
    <tr>
      <td colspan="2">Bachelor of Science in Mathematics, Minor in Physics</td>
    </tr>
  </table>

  <h2>Certifications</h2>
  <table>
    <tr>
      <td>Oracle Certified Professional, Java SE 6 Programmer</td>
      <td class="pull-right">Score: 98%</td>
    </tr>
  </table>

  <h2>Language Proficiency</h2>
  <table>
    <tr>
      <td>Proficient:</td>
      <td>Java, Ruby, HTML, CSS, CoffeeScript, Javascript, Regex</td>
    </tr>
    <tr>
      <td>Familiar:</td>
      <td>C, C++, SQL, Perl, Assembly, Python, Haskell</td>
    </tr>
  </table>

  <h2>Employment Experience</h2>
  <h3>Rails Intern</h3>
  <table>
    <tr>
      <td>ROI Revolution, Ponte Vedra Beach, FL</td>
      <td class="pull-right">May 2013 - August 2013</td>
    </tr>
  </table>
  <ul>
    <li>Agile Ruby on Rails development for internal Google/Microsoft ad management systems</li>
    <li>Worked on every level of the application from JQuery, CSS, and HTML through the full MVC structure to the database migrations, routes, and test specs</li>
    <li>Tools used: OS X, Git/Github, Sublime Text 2, Bash, Vim, Pivotal Tracker, SoapUI</li>
  </ul>

  <h3>Software Engineer</h3>
  <table>
    <tr>
      <td>Mindtree, USDC, Gainesville, FL</td>
      <td class="pull-right">January 2013 - April 2013</td>
    </tr>
  </table>
  <ul>
    <li>Worked on a Scrum team to develop a Java web application from scratch to manage current and potential employees within the company</li>
    <li>Data warehousing training using MySQL, Pentaho, and Crystal Reports</li>
    <li>After hours, weekly UI training course in HTML, JavaScript/JQuery, and CSS</li>
  </ul>

  <h3>Office Management</h3>
  <table>
    <tr>
      <td>James Coleman Signature Gallery, St. Augustine, FL</td>
      <td class="pull-right">November 1999-December 2012</td>
    </tr>
    <tr>
      <td>Crooked Palm Fine Art Gallery, St. Augustine, FL</td>
      <td class="pull-right">November 2004-December 2012</td>
    </tr>
  </table>
  <ul>
    <li>Entering data into Quickbooks</li>
    <li>Updating web content</li>
    <li>Interacting with potential and current clients on the sales floor</li>
    <li>Building frames for paintings</li>
    <li>Updating mailing lists in MS Excel and labeling mail-out for shows</li>
  </ul>

  <h3>Electronic Thesis and Dissertation Technical Support</h3>
  <table>
    <tr>
      <td>University of Florida, Gainesville, FL</td>
      <td class="pull-right">January 2006-May 2006</td>
    </tr>
  </table>
  <ul>
    <li>Assisting graduate students in formatting their thesis and dissertation documents</li>
    <li>Preparing thesis and dissertation documents for electronic archival</li>
    <li>Worked very heavily in Microsoft Word and Adobe Acrobat</li>
  </ul>
</div>
