= f.input :recipient_identifier, label: "Recipient", input_html: { autofocus: @message.recipient_identifier.blank? }

= f.input :subject, input_html: { autofocus: !@message.recipient_identifier.blank? }

= f.input :message, as: :text

= f.submit "Send Message", class: "btn btn-primary btn-block"
