- provide :title, "Message"

- content_for :header do
  %h1
    Message
    = h content_tag :small, @message.subject

.panel.panel-default
  .panel-body
    %p= simple_format @message.message, sanitize: true
