- provide :title, 'New User'

= form_for :user, as: :post, url: users_path, html: { role: "form" } do |f|
  = render 'users/fields', f: f
  .row
    = f.submit "Create User", class: "btn btn-primary btn-block"

