.row
  .col-sm-12
    %table.table.table-hover
      - @microposts.each do |micropost| 
        %tr
          %td= format_time micropost.created_at
          %td= simple_format micropost.content, sanitize: true
          - if @user == current_user
            %td= link_to 'Edit', edit_micropost_path(micropost)
            %td= link_to 'Destroy', micropost, :method => :delete, :data => { :confirm => 'Are you sure?' }
