.panel.panel-default
  .panel-heading
    .row
      .col-sm-6
        = link_to micropost.user do
          = content_tag :h3, micropost.user.username, class: "panel-title"
      .col-sm-6
        .pull-right
          = format_time micropost.created_at
  .panel-body
    %p= simple_format micropost.content, sanitize: true
