
applet {
	height: 660px;
	max-height: 100%;
	max-width: 100%;
	width: 660px;
	background-color: black;
}

#notFooter {
	height: 100%;
	position: relative;
}

#wrap {
	height: 100%;
	margin: 0 auto 0 auto;
	width: 90%;
}

/* content */
#contentOuter {
	float: right;
	height: auto;
	width: 70%;
}
#contentInner {
	background-color: white;
	border-radius: 10px;
	margin: 20px 0 20px 10px;
	padding: 10px;
}

/* sidebar */
#sidebarOuter {
	float: left;
	height: auto;
	width: 30%;
}
#sidebarInner {
	background-color: white;
	border-radius: 10px;
	margin: 20px 10px 20px 0;
	padding: 10px;
}

/* header */
#headerOuter {
	height: auto;
	width: 100%;

	header {
		background-color: white;
		border-radius: 0 0 10px 10px;
		padding: 10px;
		text-align: center;
	}
}

/* footer */
#footerOuter {
	clear: both;
	height: 50px;
	margin-top: -50px;
	position: relative;

	footer {
		background-color: white;
		border-radius: 10px 10px 0 0;
		height: 30px;
		padding: 10px;

		ul {
			float: right;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;
			}
		}
	}
}

.error {
    color: red;
    font-style: italic;
}

.elevated {
    box-shadow: 5px 5px 5px #000;
}