// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

applet {
	height: 660px;
	max-height: 100%;
	max-width: 100%;
	width: 660px;
	background-color: black;
}

form {
	background-color: lightgray;
	border: gray 2px solid;
	border-radius: 10px;

	max-width: 100%;
	padding: 10px;
	width: 300px;

	h2 {
		margin: 0;
		text-align: center;
	}

	input[type="text"], textarea {
		@include box_sizing;
		border: gray 1px solid;
		border-radius: 5px;
		padding: 5px;
		width: 100%;


	}

	.error {
		border: red 1px solid !important;
		background-color: pink !important;
	}

	.errorMessage {
		color: red;
		font-style: italic;
	}
}

#notFooter {
	height: 100%;
	position: relative;
}

#wrap {
	height: 100%;
	margin: 0 auto 0 auto;
	width: 90%;
}

/* content */
#contentOuter {
	float: right;
	height: auto;
	width: 70%;
}
#contentInner {
	background-color: white;
	border-radius: 10px;
	margin: 20px 0 20px 10px;
	padding: 10px;
}

/* sidebar */
#sidebarOuter {
	float: left;
	height: auto;
	width: 30%;
}
#sidebarInner {
	background-color: white;
	border-radius: 10px;
	margin: 20px 10px 20px 0;
	padding: 10px;
}

/* header */
#headerOuter {
	height: auto;
	width: 100%;

	header {
		background-color: white;
		border-radius: 0 0 10px 10px;
		padding: 10px;
		text-align: center;
	}
}

/* footer */
#footerOuter {
	clear: both;
	height: 50px;
	margin-top: -50px;
	position: relative;

	footer {
		background-color: white;
		border-radius: 10px 10px 0 0;
		height: 30px;
		padding: 10px;

		ul {
			float: right;
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				display: inline;
			}
		}
	}
}

.elevated {
  box-shadow: 5px 5px 5px #000;
}

@media screen and (max-width:600px) {
	#wrap {
		width:100%;
	}
	#contentInner {
		margin: 0;
	}
	#contentOuter {
	  width: 100%;
	}
	header {
		border-bottom: gray 2px solid;
	}
	footer {
		border-top: gray 2px solid;
	}
	#sidebarOuter {
		display: none;
	}
	.elevated {
		box-shadow: 0 0 0 #000;
	}
}