#home_wrap {
  margin: auto;
  max-width: 1920px;
  padding: 0 5% 0 5%;

  #microposts, #friends {
    max-height: 400px;
    overflow-y: auto;
  }
}
.page-header {
  .btn-group {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  form {
    margin-top: 20px;
    margin-bottom: 10px;

    table {
      width: 100%;

      label.btn {
        width: 100%;
      }
    }
  }
}
