<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <%= link_to "Zane's Site", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% @header_links.each do |text, path| %>
          <%= content_tag :li, link_to(text, path), class: (current_page?(path) ? 'active' : '') %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
